/*ventana del modal
en esta seccion se especifica la transparencia y color de la pantalla cuando se habra la 
ventana de logeo
*/
.modalDialog{
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: auto;
 }

.modalDialog:target {/* esta parte representa la transparencia que se tendra*/
	opacity:1;
	pointer-events: auto;
}

/* atributos para la imagen que se encuentra dentro del formulario*/
.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

/*esta seccion se define el boton de cierre del modal que aparecera en la 
parte superior derecha de la pantalla
*/
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

/* aqui se le dara un tono celeste cuando el curso se posicione sobre el boton de cierre*/
.close:hover { 
  background: #00d9ff; 
}


.errores{
  -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius:10px;
  -webkit-border-radius: 10px;
  background: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 12px;
  margin-top: -40px;
  margin-left: 250px;
  padding: 10px;
  position: absolute;
}

  /* posicion, color, margen y tamañao del formulario de logeo */
  /*define el color del formulario de logeo, su posicion y dimensiones
  */
.login-box {
  width: 320px;
  height: 420px;
  background: rgb(179, 166, 166);
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

/* aqui definimos el tamaño y poscion del titulo*/
.login-box h1 { 
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

/* aqui defino los label del formulario*/
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
  
/*aqui defino los input del formulario*/
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
 
/*aqui definiemos los bordes, color y fondo de los input de usuario y password*/
.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
  
/*aqui definomos el estilo del boton de logeo*/
.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: deepskyblue;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

/*cuando el cursor se posicione sobre el boton de logeo
este cambiara de color
*/
.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

/*aqui se debine las caracteristicas de los enlaces 
de registro y olvido de contraseña*/
.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
  
/*cuando el cursor se posicion este cambia de color*/
.login-box a:hover {
  color: #fff;
}

/*
.bton{
  width: 80px;
  height: 40px;
  background-color: orange;
  border-radius: 10%;
  left: calc(50% - 50px);
}*/

.errores:before{ /* Este es un truco para crear una flechita */
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #BC1010;
  border-left: 8px solid transparent;
  left: -16px;
  position: absolute;
  top: 5px;
}