/*selector de etiqueta
usado solamente para el fondo de la etiqueta header
*/
header{
    background-color: rgba(12, 8, 1, 0.555);
    width: 100%; /*largo*/
    height: 180px;/*ancho*/
}

/*selector de clase
usado solamente por las etiquetas que tengan el nombre "titulo"
atributo
    -tamaño de fondo: cover
    -posicion de fondo: derecha   
    -ruta de imagen: ../img/images1.jpg
    - fixed:
    -posicion: derecha
    -largo: 40
    -ancho: 120
    -lado de columna: derecho
*/
.cabecera{
    background-size: cover;
    background-position: left;
    background-image: url(../img/palomitas.png);
    background-image: fixed;
    background-image: left;
    width:25%;
    height: 100%;
    float: left;
}

/*
atributo:
    -tamños de letra: 10
    -color de letra: negro
    -alineacion de texto: centrado
    -transformacion: mayuscula
    -posicion: izquierda
*/
.titulo{
    font-size: 20px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    background-position: right;
    align-items: flex-end;

    background-size: cover;
    background-position: center;
    background-image: url(../img/annuarlogo.png);
    background-image: fixed;
    width:30%;
    height: 100%;
    float: right;
} 
/*
atributo
    -posicion: abosulta
    lado de columna: ninguno
*/
.menu-general{
    position: absolute;
    float:none;
}

/*selector descendente
afecta a todos los selectores que se declaren
*/
/*
atributo:
    estilo de lista: ninguno
    display: flex
    largo: 200
    posicion: relativo
*/
nav ul{
    list-style: none;
    display: flex;
    width: 200px;
    position: relative;
    padding: 7px 15px 7px 15px; 
}

nav ul ul {    
    position: absolute;
    width: 70px; 
    top: auto;
    left: -99999px;
    z-index: 999;
    
}

  li:hover ul{
    left: auto;
    display: block;
  }


/*
atributos:
    color: negro
    largo: 100
    display:flex
    decoracion de texto: ninguno
    fondo: combinacion
    color: combinacion
    espacio: 7 15 7 15
    tiempo de respuesta: 0.3s salida rapida
    borde derecho: forma ovalada de 10
    borde de boton: radio de 10
    borde izquierdo: forma ovalada de 10
    sombra: 2 2 4 color azul
*/
li a{
    color: black;
    width: 100px;
    display: flex;
    text-decoration: none;
    background: #836c56;
    color: black;
    padding: 10px 20px 10px 20px;
    /* esta configuracion de los botones solo sera visible para el navegador chrome*/
    transition: all 0.3s ease-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 4px #0e169b;
}

/* 
atributo
    fondo:amarillo
    color celeste
    espacio 7 15 7 30
*/
li a:hover {
    background: #faef77;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
 }

 /*selecetor por identificador
 todas las etiquetas que lleven el id "articulo" seran afectadas por ella
 */
/*
atributo:
    -alineacion de textod: derecha
*/
 #articlo{
     text-align: left;
 }

 

/*aqui se define los atributos de la seccion de servicios
*/

 .servicios{
    background: #BDBDBD;
    margin-top:15px;
    width: 100%;
}

.serv{
    width: 100%;
    background: #E6E6E6;
    text-align: center;
    margin: 10px;
}

.serv h2{
	margin: 10px 0px;
	font-family: sans-serif;
}

.serv p{
    padding: 10px;
	font-size: 18px;
	font-family: sans-serif;
	font-style: initial;
}

.serv button{
    margin: 15px 0px;
    background:steelblue;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
